/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
    box-sizing: border-box;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color:black;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color:black;
}

.wrapper {
    min-width: 375px;
    margin: 0 auto;
    padding: 2.7%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.9em;
}

.logo a {
    display: flex;
    align-items: flex-start;
}

.logo span {
    margin-left: 0.4em;
    font-size: 0.625em;
    opacity: 0.35;
}

nav ul {
    display: none;
}

nav {
    display: flex;
    gap: 2em;
    
}

nav button {
border: none;
background: none;
text-decoration: none;
padding: 0;
text-transform: uppercase;
opacity: 0.85;
font-size: 0.625em;
color: #0536FC;
/* display: inline-flex;
align-items: center;
justify-content: center; */
}

nav button::after {
    content: url(images/arrow2.png);
    margin-left: 0.42em;
    vertical-align: middle;
}

nav button:hover {
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-content {
    padding: 3.74em 0 0em 4.2em;
}

hgroup {
    margin-bottom: 3.9em;
}

hgroup p {
    font-size: 0.65em;
    color: #0536FC;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1;
}

.section-text {
    font-size: 0.625em;
    margin-top: -1.4em;
    margin-bottom: 3.4em;
    opacity: 0.6;
}

.btn {
    border: none;
    background-color: #0536FC;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em 1.37em;
    font-size: 0.625em;
}

.btn:hover {
    cursor: pointer;
    color:#0536FC;
    background-color: #fff;
    border: 1px solid #0536FC;
}

.section-img {
    position: relative;
}

.program .section-img span {
    position: absolute;
    display: inline-block;
    bottom: 1em;
    right: 1em;
}

.program .section-img span svg {
    width: 1em;
    height: 1em;
}

.goal-content-section {
    padding-left: 1em;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.people hgroup {
    margin-bottom: 0;
}

.school-content {
    padding: 1.8em 2em 0 1em;
    position: relative;
}

.school-img {
    position: relative;
}

.school-content  .title {
    font-weight: 700;
    font-size: 0.65em;
    text-transform: uppercase;
    margin-bottom: 7em;
}

.school-content .section-text {
    margin: 0;
    position: absolute;
    bottom: 1em;
    margin-right: 4em;
}

.square {
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #fff;
    top: 1em;
    right: -0.75em;
    transform: rotate(45deg);
}

.school-content, .partners-content, .participants-content {
    position: relative;
}

.participants {
    color: #FFFFFF;
}

.participants-content {
    background-color: #0536FC;
}

.school-content a, .partners-content a, .participants-content a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.content svg, .school-content svg, .participants-content svg {
    width: 0.75em;
    height: 0.75em;
}

.participants-content a {
    background-color: #fff;
}

.number {
    margin-bottom: 1em;
    opacity: 0.7;
    font-weight: 300;
}

.participants .title, .partners .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.65em;
}

.partipipants-img span {
    left: -0.75em;
    background-color: #0536FC;
}

.partners-img span {
    left: -0.75em;
}

.grid-container .section-text {
    font-size: 0.65em;
}

.participants-partners-container {
    grid-template-columns: 1fr;
    margin: 0;
    position: relative;
}

.participants-partners-container .section-text {
    font-size: 1em;
    position: absolute;
    bottom: 1em;
    padding-right: 4em;
    margin: 0;
}

.partners-content, .participants-content {
    padding: 1em 2.8em 0 1em;
}

/* .participants-partners-container .title {
    margin-bottom: 18em;
} */

@media (min-width:640px) and (max-width:1219px) {
    body {
        font-size: 14px;
    }

    .participants-partners-container {
        grid-template-columns: 1fr 1fr;
    }

    .section-text, nav button, 
    .grid-container .section-text,  
    .btn {
        font-size: 1em;
    }

    .logo span,
    .school-content .title,
    hgroup p  {
        font-size: 0.75em;
    }

}

@media (min-width:1220px) {
    body {
        font-size: 16px;
    }
    .participants-partners-container {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        display: flex;
        align-items: flex-start;
        margin-left: 5.6em;
        text-transform: uppercase; 

    }

    nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        margin-right: 40px;
    }

    nav li:nth-of-type(2) {
        margin-right: 5.7em;
    } 

    nav li::after {
        content: url(images/arrow2.png);
        width: 5px;
        height: 10px;
        margin-left: 0.625em;
        vertical-align: middle;
    }

    .menu {
        display: none;
    }

    .lang {
        font-size: 1em;
    }

    hgroup p, .school-content .title,
    .section-text, .btn, .grid-container .section-text,
    .participants .title, .partners .title, .logo span  
     {
        font-size: 1em;
    }
    h1 {
       font-size: 3.56em; 
    }
    h2 {
        font-size: 2.375em;
    }
    .section-content {
        padding: 6.25em 0 0 13.125em;
    }

    .logo img {
        width: 30px;
        height: 43px;
    }

    .section-text {
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 6.25em;
    }

    .goal .section-content {
    padding-left: 3.125em;
    }

    .hgroup p {
        margin-bottom: 1.875em;
    }

    .btn {
        padding: 1.125em 2.2em;
    }

    .program .section-img span svg {
        width: 1.875em;
        height: 1.875em;
    }

    .square {
        width: 2em;
        height: 2em;
        right: -1em;
        top: 2.25em;
    }

    .partners-img span, .partipipants-img span {
        left: -1em;
    }

    .school-content {
        padding: 5.94em 0 0 3.125em;

    }

    .content svg, .school-content svg, .participants-content svg {
        width: 2em;
        height: 2em;
    }

    .school-content .title {
        margin: 0;
    }




}
















/* header {
    display: flex;
    padding-top: 24px;
    padding-left: 3.75%;
    line-height: 1.5;
}

.logo a {
    display: inline-flex;
    align-items: flex-start;
}

.logo span {
    color: #000000;
    opacity: 0.35;
    margin-left: 10px;
    white-space: nowrap;
}

nav {
    display: flex;
    align-items: flex-start;
    margin-left: 6.3%;
    text-transform: uppercase;
    line-height: 1.5;   
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 40px;
    white-space: nowrap;
}

nav li::after {
    content: url(images/arrow2.png);
    width: 5px;
    height: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.lang::after {
    content: url(images/arrow-blue.png);
    width: 5px;
    height: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

nav li:nth-of-type(2) {
    margin-right: 91px;
} 

nav li a {
    color:#000000;
}

nav li:last-child {
    margin-right: 234px;
}

.lang {
    border: none;
    background: none;
    /* margin-left: 244px; */
    /* display: block;
    padding-left: 20px;
    font-size: 1em;
    text-transform: uppercase;
    color: #0536FC;
}

section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.section-content {
    padding-top: 187px;
    padding-left: 210px;
   
}

hgroup {
    text-transform: uppercase; 
    font-weight: 700;
}

.title {
    color:#0536FC;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase; 
}

h1 {
    font-size: 3.5625em;
    margin-bottom: 70px;
}

.section-text {
    opacity: 0.6;
    margin-bottom: 100px;
    line-height: 1.5;

}

.btn {
    display: inline-flex;
    background-color: #0536FC;
    align-items: center;
    justify-content: center;
    border: none;
    color: #FFFFFF;
    padding: 18px 35px;
    text-transform: uppercase;
    line-height: 1.5;

}

.btn:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #0536FC;
    color: #0536FC;
}

.section-pic {
    position: relative;
}

.section-pic span {
    display: inline-block;
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.goal-content-section {
    padding-left: 50px;
}

h2 {
    font-size: 2.375em;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.people hgroup {
    padding-top: 150px;
    padding-left: 210px;
   
}

.people h2 {
    margin-bottom: 0;
}

.school-content {
    padding-top: 94px;
    padding-left: 50px;
    position: relative;
    
}

.school-content .title {
    color: #000000;
}

.school-pic {
    position: relative;
}

.square {
    display: inline-block;
    position: absolute;
    top: 36px;
    right: -15px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #FFFFFF;
    
}

.school-content a {
    display: inline-block;
    position: absolute;
    bottom: 35px;
    right: 35px;
    z-index: 2;
}

.participants {
    background-color:#0536FC;
}

.participants .title {
    color:#FFFFFF;
}

.participants .number {
    color: #FFFFFF;
    opacity: 0.7;
}

.number {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
}

.content {
    position: relative;
    padding: 50px 0 0 50px;
}

.content .title {
    margin-bottom: 211px;
}

.content .section-text {
    margin-bottom: 0;
    max-width: 175px;
}

.participants-content .section-text {
    color: #FFFFFF;
    opacity: 0.6;
}

.content a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 25px;
    margin-left: 50px;
}

.section-pic {
    position: relative;
}

.section-pic .square {
    top: 53px;
    left: -15px;
    background-color:#0536FC;
}

.partners-pic .square {
    background-color: #FFFFFF;
} */

 */
