$btn-padding-y: 20px;


$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-40:                $font-size-base * 2.5;
$font-size-57:                $font-size-base * 3.5625;
// $font-size-40: 40px;
// $font-size-57: 57px;