@import "./abstracts/variables.scss";

// Create your own map
$custom-colors: (
  "custom-blue": rgba(5, 54, 252, 1),
  "custom-grey": rgba(0, 0, 0, 0.1));


$spacer: 16px;  
$spacers: (
  0: 0,
  1: ($spacer * .25),       /*4*/
  2: ($spacer * .5),        /*8*/
  3: ($spacer * .625),      /*10*/
  4: $spacer,
  5: ($spacer * 1.25),      /*10*/
  6: ($spacer * 1.5),       /*20*/
  7: ($spacer * 3),         /*48*/
  8: ($spacer * 3.125),     /*50*/
  9: ($spacer * 6.25),      /*100*/
  10: ($spacer * 7.5),      /*120*/
  11: ($spacer * 1.875),    /*30*/
  12: ($spacer * 4.375),    /*70*/
  13: ($spacer * 2.0625),   /*33*/
  14: ($spacer * 1.875),    /*30*/
  15: ($spacer * 1.07),     /*15*/
  16: ($spacer * 8.125),    /*130*/
  17: ($spacer * 0.0625),    /*1*/
);



@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Basis Grotesque Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1480px;
}

.header-row {
    // margin-bottom: 100px;
}

.header-title {
    font-size: 16px;
}

.header-subtitle {
    font-size: 57px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.input:checked ~ .label {
    background-color: #0536fc;
     color: #fff;
     transition: all 1s ease;
     border: 0;
     
   }

.hidden-text-about, .hidden-text-activity {
   display: none;
}

.input-about:checked ~ .hidden-text-about {
    display: block;
    z-index: 2;
}

.input-activity:checked ~ .hidden-text-activity {
    display: block;
    z-index: 2;
}

.text-14 {
    font-size: 14px;
}

.label {
    width: 100%;
    color:rgba(5, 54, 252, 1);
}  

.btn-hover:hover {
    
} 

.btn-hover {
    border: 1px solid transparent;
    border-radius: 0;
}

.btn-hover:hover {
    background-color: #fff;
    color:#0536fc;
    border: 1px solid #0536fc;
}

@media (max-width:768px) {
    .header-subtitle {
        font-size: 30px;
    } 
}

@media (min-width: 768px) {
    .text-38 {
        font-size: 38px;
    }
}
