*,
::before,
::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'TradeGothic LT', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-width: 320px;
    line-height: 1;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px; 
    padding-right: 10px;
    max-width: 684px;
}

.serif {
    font-family: 'Ogg', Georgia, 'Times New Roman', Times, serif;
}

.title {
    margin-bottom: 26px;
}

h1 {

    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
}

section {
    padding-top: 40px;
    padding-bottom: 240px;
}

.section-content {
    margin-bottom: 26px;
    max-width: 550px;
}

.section-text {
    line-height: 1.75;
    opacity: 0.85;
    margin-bottom: 50px;
}

.section-text p:first-child {
    margin-bottom: 15px;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

.green {
    color: #71870E;
}

.section-content-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 30px;
    color: #CD9A3D;
}

.section-images  {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.picture-small {
    position: absolute;
    top: 65%;
    right: 0;
}

.section-images {
    margin-left: -10px;
    margin-right: -10px;
}

.caption {
    display: none;
}

.title p  {
    display: none;
}

@media (min-width:1245px) {
    .container {
        max-width: 1180px;
    }

    .title p {
        display: inline;
        font-size: 14px;
        line-height: 1.5;
        opacity: 0.55;
        vertical-align: top;
    } 

    h1 {
        display: inline;
        font-size: 60px;
    }

    .section-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-content {
        margin-left: unset;
        margin-right: unset;
    }

    .section-images {
        flex: 0 0 48%;
        margin-left: unset;
        margin-right: unset;
    }
    
    .section-text {

        padding-left: 185px;
        margin-bottom: 50px;
    }

    picture {
        display: block;
        color: #71870E;
        line-height: 1.5;
        text-align: center;
        margin-top: 70px;
    }

    .picture-small {
        top: 35%;
        right: 0%;
    }

    .section-content-end {
        justify-content: flex-start;
    }

}