img {
    max-width: 100%;
    height: auto;
  }
  
  body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    min-width: 320px;
  }
  
  .cart-number {
    background-color: #DA1F39;
    font-family: "Roboto";
    font-size: 8px;
    padding-top: 2px;
    bottom: 0;
    right: 0;
  }
  
  .header-logo {
    width: 95px;
  }
  
  h1 {
    font-family: "DelaGothic";
    font-size: 18px;
  }
  
  .unit-caption {
    margin-bottom: 5px;
  }
  
  .unit-caption-text {
    font-size: 12px;
    line-height: 1.6;
    margin-top: 5px;
    max-width: 165px;
  }
  
  .unit-price {
    font-size: 14px;
    font-weight: 700;
  }
  
  .catalogue-show-more {
    gap: 5px;
  }
  
  .catalogue-footer {
    background-color: #F4F4F4;
  }
  
  .active-red {
    color: #DA1F39;
    font-weight: 700;
  }
  
  .catalogue-scroll {
    margin-bottom: -16px;
  }
  
  .catalogue-filter-checkbox {
    color: #565656;
  }
  
  .logo-header {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hover-red:hover {
    color: #DA1F39;
    font-weight: 700;
    cursor: pointer;
  }
  
  .filter-icons svg:hover rect {
    fill: #565656;
    cursor: pointer;
  }
  
  .input {
    height:0;
    overflow:hidden;
  }