/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
}



body {
    font-family:  'Tomorrow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    min-width: 320px;
}

header {
    padding: 20px 0;
}

header p {
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 1em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}


.logo {
    display: inline-block;
}

nav {
    display: none;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.title {
    background: url(images/bg-1.png);
    padding-top: 53px;
    padding-bottom: 53px;
    background-size: cover;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    text-transform: uppercase;
    font-size: 1.625em;
    line-height: 1.4;
    letter-spacing: 3%;

}

.title .full-text {
    display: none;
}

.full-text {
    display: block;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container, .production-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p {
    font-family: 'Sintony', sans-serif;
    font-size: 1.25em;
    line-height: 1.4;
    margin-top: 20px;
}

.about-image {
    margin-bottom: 20px;
}


.history {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(images/bg-2.png);
    background-size: cover;
}

.history-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4%;

}

.production {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Sintony', sans-serif;
}

.production-title {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 700;
}

.production p+p {
    font-size: 1.25em;
    line-height: 1.6;

}

@media (min-width:1280px) {



.header-container {
    padding-top: 50px;
    padding-right: 40px;
}

nav {
    display: block;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li button {
    border: none;
    background-color: transparent;
}

nav ul li button:hover {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

header p {
    display: none;
}

.title {
   padding: 38px 0;
   font-size: 2.15em;
}

.title p {
    display: none;
}

.title img {
    width: 533px;
    height: 355px;
}

.title .full-text {
    display: block;
    max-width: 1240px;
}

.about {
    font-size: 2em;
    padding-top: 158px;
    padding-bottom: 164px;
}

.about-container, .production-container {
    flex-direction: row;

}

.about img {
    margin-right: 136px;
}

.about p {
    margin-top: 0;
    text-align: left;
}

.history {
    padding-top: 214px;
    padding-bottom: 197px;
    font-size: 2.15em;
}

.production {
    padding-top: 122px;
    padding-bottom: 122px;

}

.production .container {
    display: flex;
    justify-content: center;
}

.production p {
    max-width: 500px;
}

.production img {
    width: 608px;
    height: 608px;
    margin-right: 136px;
}

.production-title {
    font-size: 1.7em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 64px;
}

.production-title+p {
    font-size: 1.2em;
}

.logo img {
    width: 240px;
    height: 28px;
}

}
